
*.aab
android/app/build
android/build
android/.gradle
*.apk
backups/
coverage
dist
.DS_Store
.env
.env.local
local.properties
*.log
.next
node_modules
out
.pnpm-store
prisma/*.db
prisma/dev.db
prisma/dev.db-journal
prisma/test.db
*.tsbuildinfo
.turbo
